/* Modo claro */
[data-bs-theme="light"] {
  --bg-color: #ffffff;
  --text-color: #1d1b26;
  --header-bg: #865f46;
  --header-text: #ffffff;
  --hover-bg: #31231a; 
}

/* Modo escuro */
[data-bs-theme="dark"] {
  --bg-color: #1d1b26
  --text-color: #ffffff;
  --header-bg: #31231a;
  --header-text: #ffffff;
  --hover-bg: #865f46;
}

@font-face {
  font-family: 'Phenomena';
  src: url('Phenomena-ExtraBold.otf') format('opentype');
  font-weight: bold;
}

body {
  font-family: 'Lexend Deca', sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
}

h1, h2, h3, .titulo-app {
  font-family: 'Phenomena', sans-serif;
  font-weight: bold;
}

#logo-fixo {
  height: 120px;
  opacity: 0.9;
  transition: 0.3s;
}

#logo-fixo:hover {
  opacity: 1;
}

.navbar { 
  background-color: var(--header-bg); 
  color: var(--header-text);
  padding: 0;
  padding-left: 20px;
  padding-right: 20px;
}

/*Titulo*/
.titulo-app {
  color: var(--header-text); 
  text-align: center;
  margin-bottom: 20px;
  font-size: 30px;
}

table {
  font-size: 10px;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}